/* цвет логотипа #2196F3 и #000000 */
/* белый #ffffff */
/* фон #e5e5e5  и f5f4fa */

/* =========== hero ============== */
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 94px; */
  /* padding: 200px auto 280px; */
  /* margin-bottom: 94px; */
}

/* .hero-bunner {
  
} */

.hero-title {
  /* margin-bottom: 94px; */
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: auto;
}

.hero-btn {
  min-width: 200px;
  height: 50px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  color: #ffffff;
  background-color: var(--accent-color);
}

/* .hero-btn:hover,
       .hero-btn:focus {

}     */
/* =========== hero end ============== */
/* =========== section =========== */
.skill {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*--приемущества и особенности-->*/ /* ========= skill ========= */
.skill-list {
  /* color: var(--primary-text-color); */
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 94px;
  margin-bottom: 94px; */
  /* margin-left: -30px; */
  /* padding: 94px 0px; */

  /* outline: 1px solid; */
}
.skill-item {
  /* min-height: 101px;
  width: 270px; */

  /* flex-basis: calc(100% / 4 -30px); */
  /* outline: 1px solid; */
  /*  
      height: 101px;
     .skill-item:not(:last-child) {
     margin-top: 30px;
        */
}
.skill-item:not(:last-child) {
  margin-right: 30px;
}

.skill-item::before {
  content: '';
  display: block;
  height: 120px;
  /* width: 270px; */
  /* outline: 1px solid; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url('../images/icon/antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/icon/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/icon/diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/icon/astronaut.svg');
}

.skill-item .section-title {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text {
  width: 270px;
  height: 75px;
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ========= skill end ========= */

/* ============ <!--Примеры работ--> ============ */

.work {
  padding-bottom: 94px;
}
/* .sect {
  margin-bottom: 94px;
} */
.work-list {
  display: flex;
  margin-top: 50px;
  /* margin-bottom: 94px; */
}
.work-list .work-img:not(:last-child) {
  margin-right: 30px;
  padding: 0;
  border: 0;
}
.section-title-about,
.section-title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-list .work-img {
  position: relative;
}
.workart {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.work-info {
  width: fit-content;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* ============ <!--Примеры работ end--> ============ */

/* ========== команда team ========== */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team {
  /* background-color: #f5f4fa; */
}
.social-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin: auto;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.section-title-team {
  /* margin-top: 188px; */
  /* margin-bottom: 50px; */
  padding-bottom: 50px;
  /* padding-top: 94px; */
}
.work-list-team {
  /* margin-bottom: 94px; */
  display: flex;
  justify-content: space-between;
}
.team-name {
  margin-bottom: 10px;
}
.work-list-content {
  padding-top: 30px;
  padding-bottom: 16px;
}
/* .work-list-team .work-team:not(:last-child) {
  margin-right: 30px;
  padding: 0;
  border: 0;
} */
.work-list-team .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-position {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 130px;
  height: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.work-team {
  width: 270px;
  min-height: 428px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ========== команда team end ======== */
/* ==================REGULAR================ */
.regular {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  /* margin-top: 94px; */

  color: var(--title-text-color);
}
.regular-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 94px; */
  /* margin-top: 94px; */
  /* padding-bottom: 94px; */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-list-item {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-list-item:hover,
.regular-list-item:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.regular-list-item:hover .regular-icon,
.regular-list-item:focus .regular-icon {
  fill: var(--accent-color);
}

.regular-list-link:focus {
  fill: var(--accent-color);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.regular-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========BACKDROP================ */
.backdrop {
  position: fixed;
  left: 0;
  top: -1px;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* opacity: 1; */
}
.backdrop.is-hidden {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color); /* #ffffff;*/
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  padding: 40px;
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .icon-close-btn,
.modal-close-btn:focus .icon-close-btn {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.icon-close-btn {
  width: 18px;
  height: 18px;
  /* transform: translateY(-5%); */
  transform: translateX(-5%);
}
/* =========== modal-form ======== */
.modal-form {
  display: flex;
  flex-direction: column;
  height: 501px;
}
.modal-text {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-field {
  height: 58px;
  margin-bottom: 10px;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}

.textarea {
  height: 138px;
  margin-bottom: 0px;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-input:focus,
.form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}
.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.form-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--title-text-color);
}

.comment {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus,
.comment:hover {
  outline: none;
  border-color: var(--accent-color);
  /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.checkbox-accept {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  /* margin-left: 54px; */
  padding-left: 14px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-accept::before {
  display: flex;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 8px;
  /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-policy:checked + .checkbox-accept::before {
  background-image: url(../images/iconcheck.svg);
  /* border: 4px solid #fff; */
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: content-box;
}
.contract-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.modal-form-btn {
  font-family: inherit;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;

  /* width: 200px;
  height: 50px;
  left: 700px;
  top: 713px; */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 55px;
  padding-left: 55px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  /* border: 1px solid var(--accent-color); */
  cursor: pointer;
  /* margin-top: 30px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
