/* ================ Heder ==================== */
// вложенность
.page-header {
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 93px;
  }

  .address {
    /* display: flex;*/
    margin-left: auto;
  }
}
