/* ==================REGULAR================ */
.regular {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    /* margin-top: 94px; */

    color: var(--title-text-color);
  }
  &-icon {
    transition: 250ms var(--time-fn);
  }

  .regular-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 94px; */
    /* margin-top: 94px; */
    /* padding-bottom: 94px; */
    transition: 250ms var(--time-fn);

    &-item {
      display: flex;
      width: 170px;
      height: 90px;
      border: 1px solid #afb1b8;
      box-sizing: border-box;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      transition: 250ms var(--time-fn);
    }

    &-item:hover,
    &-item:focus {
      border-color: var(--accent-color);
      cursor: pointer;
    }

    &-item:hover .regular-icon,
    &-item:focus .regular-icon {
      fill: var(--accent-color);
    }

    &-link:focus {
      fill: var(--accent-color);
      /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      fill: #afb1b8;
      transition: 250ms var(--time-fn);
    }
  }
}
