/* ========== команда team ========== */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.social-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin: auto;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.section-title-team {
  /* margin-top: 188px; */
  /* margin-bottom: 50px; */
  padding-bottom: 50px;
  /* padding-top: 94px; */
}
.work-list-team {
  /* margin-bottom: 94px; */
  display: flex;
  justify-content: space-between;
}
.team-name {
  margin-bottom: 10px;
}
.work-list-content {
  padding-top: 30px;
  padding-bottom: 16px;
}
/* .work-list-team .work-team:not(:last-child) {
  margin-right: 30px;
  padding: 0;
  border: 0;
} */
.work-list-team .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-position {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 130px;
  height: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.work-team {
  width: 270px;
  min-height: 428px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ========== команда team end ======== */
